html {
	overflow: scroll;
	height: 99%;
}

body {
	background: #ffffff;
	height: 99%;
	margin: 0;
	padding: 0;
	line-height: 150%;
	text-align: center;
}

* {
	font-size: 10.8pt; 
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000000;
	text-align: left;
}

/* === Containers === */

#mainContentArea {
	margin: 0 auto 0 auto; 
	display: table; 
	height: 100%; 
	position: relative; 
	overflow: scroll; 
	width: 600px;
}

.link,.linkActive {
	border: 1px solid #18453B;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
	width: 70px;
	margin-right: 10px;
	float: left;
	margin-top: 18px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	position: relative; bottom: 0px;
}

.link:hover {
	background-image:url(crisp.png);
}

a {
	text-decoration:none;
	color:#18453b;
}

.link a {
	font-family: Garamond, serif;
	font-size: 12px;
	font-weight: bold;
}

#linkGroup {
	margin-right: 10px;
	height: 40px;
	width: 600px;
}

#title {
	width: 230px;
	height: 40px;
	margin-right: 20px;
	margin-top: 15px;
	font-family: Garamond, serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	float: left;
}

.contentTitle {
	font-family: "Times New Roman", Times, serif;
	color: #18453B;
	font-size: 19px;
	margin-left: 15px;
	margin-right: 12px;
	margin-bottom: 12px;
	width: 573px;
}

.pageContent {
	clear: both;
	font-family: "Times New Roman", Times, serif;
	color: #0e2822;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	width: 560px;
}

hr {
	border-style: solid;
	border-color: #18453B;
}

#pic {
	margin-left: 15px;
	margin-bottom: 12px;
	text-align: left;
}

#crispBox {
	border: 2px solid #18453B;
	border-radius: 25px;
	position: absolute;
	vertical-align: middle;
	background-image:url(crisp.png);
	width: 600px;
	clear: both;
}

#header {
	width: 600px;
	height: 20px;
	background-repeat: no-repeat;
}

#footer {
	width: 600px;
	height: 20px;
	background-repeat: no-repeat;
	text-align: center;
	padding-right: 10px;
	font-size: 9px;
	color: #18453B;
}
#footer a {
	font-size: 9px;
	color: #18453B;
}
#bottomgap {
	width: 600px;
	height: 25px;
}

#contentBox {
	margin-top: 15px;
}

#all{
    width: 100%;
    float: left;
    text-align: center;
}

/* === Blockquote === */

.blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
}

.blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

.cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

.cite:before {
	content: "\2014 \2009";
}

/* === Wrapper === */

div.wrapper {
	float: left; /* important */
	position: relative; /* important(so we can absolutely position the description div */
	margin-left: 15px;
	margin-right: 12px;
	margin-bottom: 12px;
}
div.description {
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: -15px; /* position will be on bottom */
    left: -10px;  
    width: 100%;
    /* styling bellow */  
	font-family: Times, serif;
    font-size: 12px;
	color: black;
    opacity: 1; /* transparency e.g. 0-1 */
}  
p.description_content { 
    padding: 10px;
    margin: 0px;
}  

/* === Hide & Show === */

.row {
	vertical-align: top; height: auto !important;
}
.list {
	display: none;
}
.show {
	display: none;
}
.hide:target + .show {
	display: inline;
}
.hide:target {
	display: none;
}
.hide:target ~ .list {
	display: inline;
}
@media print {
	.hide, .show {
		display: none;
	}
}